body,
html {
  height: 100%;
}

body {
  background: #fff;
  font-family: 'Roboto';
}

#topLink {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 0px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px 0px;
  font-size: 2em;
  text-decoration: none;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: black;
  transition: top 0.3s;
}

nav {
  padding: 20px;
}

#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: url(./img/icons8-menu-50.png) center;
}

nav a {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: bold;
}

ul {
  margin: 0 auto;
  text-align: center;
  list-style: none;
}

nav li {
  display: inline;
  padding: 0 10px;
}

/*Absolute center the logo*/

.logo-center img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

/*page sections*/

.helper {
  min-height: 100%;
}

section {
  margin: auto;
  padding-top: 40px;
  min-height: 100%;
  width: 90%;
}

section h1 {
  text-align: center;
}

.container-contact {
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

input[type='text'],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}

input[type='submit'] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #f0f0f0;
  text-align: center;
}

@media only screen and (max-width: 640px) {
  header {
    position: absolute;
  }

  #menu-icon {
    display: inline-block;
  }

  nav ul,
  nav:active ul {
    display: none;
    position: absolute;
    padding: 20px;
    background: #fff;
    border: 5px solid #444;
    left: 20px;
    top: 60px;
    width: 25%;
    border-radius: 4px;
  }

  nav li {
    text-align: center;
    display: list-item;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }

  nav a {
    color: black;
  }

  nav:hover ul {
    display: block;
  }
}
