body,
html {
  height: 100%;
}

body {
  background: #fff;
  font-family: 'Roboto';
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: black;
}

nav {
  padding: 20px;
}

#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: url(./img/icons8-menu-50.png) center;
}

nav a {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: bold;
}

ul {
  margin: 0 auto;
  text-align: center;
  list-style: none;
}

nav li {
  display: inline;
  padding: 0 10px;
}

/*Absolute center the logo*/

/*.logo-center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: white;
  border: 1px solid green;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.logo-center img {
  max-width: 50%;
  vertical-align: middle;
}*/

.logo-center img {
  position: absolute;
  top: 50%;
  left: 50%;
  /*  width: 600px;
  height: 250px;
  margin-top: -175px;
  margin-left: -300px;
*/
  width: 70%;
  height: 36%;
  margin-top: -18%;
  margin-left: -35%;
}

/*page sections*/

.helper {
  min-height: 100%;
  border: 1px solid blue;
}

section {
  margin: auto;
  padding-top: 40px;
  min-height: 100%;
  width: 90%;
  border: 1px solid red;
}

section h1 {
  text-align: center;
  /*border: 1px solid blue;*/
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #f0f0f0;
  text-align: center;
}

@media only screen and (max-width: 640px) {
  header {
    position: absolute;
  }

  #menu-icon {
    display: inline-block;
  }

  nav ul,
  nav:active ul {
    display: none;
    position: absolute;
    padding: 20px;
    background: #fff;
    border: 5px solid #444;
    left: 20px;
    top: 60px;
    width: 25%;
    border-radius: 4px 0 4px 4px;
  }

  nav li {
    text-align: center;
    display: list-item;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }

  nav a {
    color: black;
  }

  nav:hover ul {
    display: block;
  }
}
